License Zero Private License
Version {{{version}}}
https://licensezero.com/licenses/private

Date:        {{{date}}} (ISO 8601)

Licensor:    {{{licensorName}}}
             {{{licensorJurisdiction}}} (ISO 3166-2)

             acting through their agent:

             {{{agentName}}}
             {{{agentJurisdiction}}} (ISO 3166-2)
             {{{agentWebsite}}}

Licensee:    {{{licenseeName}}}
             {{{licenseeJurisdiction}}} (ISO 3166-2)
             {{{licenseeEmail}}}

Project:     {{{repository}}}
             {{{description}}}

Identifier:  {{{projectID}}}

Background

  I have made contributions to the project and granted a
  public license for them.  My public license has rules
  that either limit use for commercial purposes or require
  release of source code for software built with my work.

  This is a separate, private license for my contributions
  to the project, with different rules.  Unlike my
  public license, this private license lets you use my
  contributions to the project for commercial purposes and
  build software not released as open source.  However,
  this private license applies only to you, and in a
  limited way to those you're allowed to sublicense.

No Liability

  My contributions to the project come as is, without any
  warranty at all.  As far as the law allows, I will not
  be liable for any damages related to the project or this
  license, for any kind of legal claim.

Scope

  This private license covers contributions I have made to
  the project with the identifier in licensing metadata,
  and any contributions I make to the project in the future
  without changing the identifier or adding a new one.
  This private license does not cover contributions I
  make to the project in the future with a different or
  additional identifier.

Copyright License

  Subject to the other terms of this license, I grant you
  a perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable copyright license to reproduce, prepare
  derivative works of, publicly display, publicly perform,
  and distribute my contributions to the project, in source
  code or any other form.

Redistribution

  You must ensure that everyone who gets a copy of the
  project from you, in source code or any other form,
  also gets the complete texts of the public licenses for
  my contributions to the project, including copyright
  and source notices, and copies of all licensing metadata.

Patent License

  Subject to the other terms of this license, I grant you
  a perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable patent license to make, have made, use,
  offer to sell, import, and otherwise transfer my
  contributions to the project.  That license applies
  only to patent claims I can license that are necessarily
  infringed by my contributions alone, or by combination
  of my contributions with the project as it was when I
  submitted them.

Defensive Termination

  If you make any legal claim against anyone for infringing
  any patent claim they would infringe by using the project
  alone, accusing the project, with or without changes,
  alone or combined into a larger program, then your patent
  license automatically terminates.

Sublicensing

  If you combine my contributions to the project with
  other software in a larger program, you may sublicense
  my contributions to the project as part of your larger
  program, and allow further sublicensing in turn, under
  these rules:

  1. Your larger program must have significant additional
     content or functionality beyond that of the project,
     and end users must license your larger program
     primarily for that added content or functionality.

  2. You may not sublicense anyone to break any rule of
     the public license for my contributions to the project
     for any changes of their own or any software besides
     your larger program.

  3. No Liability, Defensive Termination, Sublicensing,
     and Redistribution must apply to each sublicense.

  You may build, and sublicense for, as many larger
  programs as you like.
