License Zero Private License
Version {{{version}}}
https://licensezero.com

Date: {{{date}}} (ISO 8601)

Licensor: {{{licensorName}}}
          {{{licensorJurisdiction}}} (ISO 3166-2)

          acting through its appointed agent:

          {{agentName}}
          {{agentJurisdiction}} (ISO 3166-2)
          {{agentWebsite}}

Licensee: {{{licenseeName}}}
          {{{licenseeJurisdiction}}} (ISO 3166-2)
          {{{licenseeEmail}}}

Project:  {{{projectID}}}
          {{{description}}}
          {{{repository}}}

Background

  I have made contributions to the project, and licensed my
  contributions on the terms of either the License Zero
  Noncommercial Public License (L0-NC) or the License Zero
  Reciprocal Public License (L0-R).  Broadly speaking,
  L0-NC's conditions limit use for commercial purposes, and
  L0-R's conditions require you to release changes to,
  software built on, and software build using the project as
  open source software.

  This is a separate private license for my contributions to
  the project, with different conditions.

  This private license lets you to use my contributions to
  the project for commercial purposes, and to create
  software that is not released as open source.  However,
  this private license applies only to you, and to a limited
  extent those you're allowed to sublicense.

No Liability

  My contributions to the project come as is, without any
  warranty at all.  As far as the law allows, I will not be
  liable for any damages related to the project or this
  license, for any kind of legal claim.

Copyright License

  Subject to the other terms this license, I grant you a
  perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable copyright license to reproduce, prepare
  derivative works of, publicly display, publicly perform,
  and distribute my contributions to the project, in source
  code or any other form.

Patent License

  Subject to the other terms of this license, I grant you a
  perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable patent license to make, have made, use, offer
  to sell, import, and otherwise transfer the project.  That
  license applies only to patent claims I can license that
  are necessarily infringed by my contributions alone, or by
  combination of my contributions with the project as it was
  when I submitted my contributions.

Defensive Termination

  If you sue anyone, including by cross-claim or
  counter-claim, alleging that the project or a contribution
  to the project constitutes direct or indirect patent
  infringement, your patent license terminates when you sue.

Sublicensing

  If you combine the project with other software into a
  larger program, you may sublicense my contributions to the
  project as part of that larger program, and allow further
  sublicensing in turn, if:

  1. The larger program has significant additional
     functionality beyond that of the project, and end users
     license the larger program primarily for that
     additional functionality.

  2. Sublicenses do not permit preparation of derivative
     works, except as necessary for utilization of the
     program, archiving, maintenance, or repair, as
     described in United State Code title 17, section 117.

  3. Defensive Termination applies to everyone sublicensed.

Redistribution

  You must ensure that everyone who gets a copy of the
  project from you, in source code or any other form, also
  gets the complete text of the public license applied to my
  contributions to the project, including copyright and
  source notices.
