License Zero Private License
Version {{{version}}}
https://licensezero.com

Date:     {{{date}}} (ISO 8601)

Licensor: {{{licensorName}}}
          {{{licensorJurisdiction}}} (ISO 3166-2)

          acting through its appointed agent:

          {{agentName}}
          {{agentJurisdiction}} (ISO 3166-2)
          {{agentWebsite}}

Licensee: {{{licenseeName}}}
          {{{licenseeJurisdiction}}} (ISO 3166-2)
          {{{licenseeEmail}}}

Project:  {{{repository}}}
          {{{description}}}
          {{{projectID}}}

Background

  I have made contributions to the project and licensed them
  on the terms of either a License Zero Noncommercial Public
  License (L0-NC) or a License Zero Reciprocal Public
  License (L0-R).  Broadly speaking, L0-NC's conditions
  limit use for commercial purposes, and L0-R's conditions
  require open source release of changes to the project,
  software built on the project, and software built using
  the project.

  This is a separate, private license for my contributions
  to the project, with different conditions.  This private
  license lets you use my contributions to the project for
  commercial purposes, and to create software not released
  as open source.  However, this private license applies
  only to you, and in a limited way to those you're allowed
  to sublicense.

No Liability

  My contributions to the project come as is, without any
  warranty at all.  As far as the law allows, I will not be
  liable for any damages related to the project or this
  license, for any kind of legal claim.

Scope

  This private license covers contributions I have made to
  the project with the identifier above in package metadata,
  and any contributions I make to the project in the future
  without replacing that identifier or adding a new one.
  This private license does not cover contributions I make
  to the project in the future after adding a new identifier
  or replacing the old one.

Copyright License

  Subject to the other terms of this license, I grant you a
  perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable copyright license to reproduce, prepare
  derivative works of, publicly display, publicly perform,
  and distribute my contributions to the project, in source
  code or any other form.

Redistribution

  You must ensure that everyone who gets a copy of the
  project from you, in source code or any other form, also
  gets the complete texts of the public licenses for my
  contributions to the project, including copyright and
  source notices.

Patent License

  Subject to the other terms of this license, I grant you a
  perpetual, worldwide, non-exclusive, royalty-free,
  irrevocable patent license to make, have made, use, offer
  to sell, import, and otherwise transfer the project.  That
  license applies only to patent claims I can license that
  are necessarily infringed by my contributions alone, or by
  combination of my contributions with the project as it was
  when I submitted my contributions.

Defensive Termination

  If you make any legal claim against anyone for infringing
  any patent claim they would infringe by using the project
  alone, accusing the project, with or without changes,
  alone or combined into a larger program, then your patent
  license automatically terminates.

Sublicensing

  If you combine the project with other software into a
  larger program, you may sublicense my contributions to the
  project as part of your larger program, and allow further
  sublicensing in turn, on these conditions:

  1. Your larger program must have significant additional
     content or functionality beyond that of the project,
     and end users must license your larger program
     primarily for that additional content or functionality.

  2. Sublicenses must not permit anything that would violate
     the public license for my contributions to the project,
     other than as part of your larger program.

  3. Sublicenses must permit copying and adaptation
     necessary for utilization of the program, archiving,
     maintenance, and repair, as described in United State
     Code title 17, section 117.

  4. The conditions in No Liability, Defensive Termination,
     Sublicensing, and Redistribution must apply to each
     sublicense.

  You may create, and sublicense for, as many larger
  programs as you like.
